/* ===== start of variable ===== */
$color-primary: #000000;
$color-secondary: #ffffff;
$color-tertiary: #777777;
$transition: 0.3s ease;
$radius: 0.5rem;
$shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
$shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.2);
/* ===== end of variable ===== */
/* ===== start of repetitive codes ===== */

/* ===== end of repetitive codes ===== */
/* ===== start of function ===== */
@media screen and (max-with: 575px) {
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}

@media screen and (min-width: 1536px) {
}
/* ===== end of function ===== */ 